<footer class="footer rows pb-2">
      <div class="row-is-full content has-text-centered">
        <h2>
          <a href="/">Homepage</a>{{#if loggedIn}} |
          <a href="/dashboard/">Dashboard</a> |
          <a href="/dashboard/add/">Add New Item</a>
          <a href="/dashboard/edit/">Edit Item</a>
          {{else}}
          | <a href="/login/">Login</a>
          {{/if}}
        </h2>
      </div>
      <div class="row content has-text-centered">
        <p>
          STOR-IT Warehouse Management <a href="https://github.com/Alexjalva/STOR-IT-Warehouse-Management">-SAVAGE MIDNIGHT TOADS</a>
        </p>
      </div>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
