<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <a href="https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="warehouse"></a>
    <h1 class="display-4">STOR-IT Warehouse Management</h1>
    <p class="lead">Making storing and keeping track of your valuables easier.</p>
  </div>
</div>