<div class="jumbotron" style="background-image: url(https://cdnb.artstation.com/p/assets/images/images/016/332/695/large/hanyen-jen-highresscreenshot00013.jpg?1551776120); background-repeat: no-repeat;">
    <div class="container">

        <h1 class="text-uppercase">YOUR AROMATHERAPY</h1>
        <p>UP TO 40% OFF ON ALL PRODUCTS</p>

    </div>
</div>