<div class="jumbotron jumbotron-fluid">
  <div class="container">
     <picture >
  <source srcset="https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  <img src="https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="warehouse">
</picture>
  




  <div class="container text-white">
    <h1 class="display-4">STOR-IT Warehouse Management</h1>
    <p class="lead">Here at STOR-IT we know the stress of storing and keeping track of your valuables can be difficult, but with our managment team were here to make it easy</p>
    <hr class="my-4">
    <p>We have designed a system to make it easy to keep track of all your stored items a breeze!</p>
  </div>
  <!-- /.container -->
</div>
<!-- /.jumbotron -->
  </div>
</div>