{{!-- <div class="add-ItemName-container">
  <h2>
    What ItemName would you like to store?
  </h2>
  <form class="new-ItemName-form">
    <label for="ItemName_name">
      ItemName Name:
    </label>
    <br />
    <textarea id="ItemName_name" name="ItemName_name" rows="2" cols="30">
      
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <label for="owner_name">
      Owner Name:
    </label>
    <br />
    <textarea id="owner_name" name="owner_name" rows="2" cols="30">
      
    </textarea>
    <br />
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/add-ItemName.js"></script> --}}

<form>
  <div class="form-group">

    <label for="exampleInputOwner1">Owner address</label>
      {{owner_name}}
    <input type="Owner" class="form-control" id="exampleInputOwner1" aria-describedby="OwnerHelp"
      placeholder="Enter Owner">
  </div>
  <div class="form-group">
    <label for="exampleInputItemName1">Item Name</label>
      {{ItemName}}
    <input type="ItemName" class="form-control" id="exampleInputItemName1" placeholder="ItemName">
  </div>
  <div class="form-group">
    <label for="exampleInputDiscription1">Discription</label>
      {{description}}
    <input type="Discription" class="form-control" id="exampleInputDiscription1" placeholder="Discription">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>