<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      CURRENT STORAGE
    </h2>
  </div>
  {{#each items as |item|}}
    <div class="item col-md-5">
      <p>
        {{item.id}}.
        {{item.item}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        owner:
        {{item.owner}}
      </p>
    </div>
  {{/each}}
</div>

<!-- This is the form for adding a new item -->

