<a
    href="https://2k7p22nx6oe213gsh48gkhoz-wpengine.netdna-ssl.com/wp-content/uploads/2017/03/bigstock-New-And-Modern-Warehouse-61957115_md-931x490.jpg"></a>

<div class="container">
    <div class="jumbotron">
        <h1>STOR-IT</h1>
        <h2>The Leaders in Warehouse Management.</h2>
        <h2>Our goal is to help you store and keep track of your valuables.</h2>
        <h2>Items We Manage.</h2>

        <ul>
            <li><h2>-Vehicles</h2></li>
            <li><h2>-Collector Items</h2></li>
            <li><h2>-Documents</h2></li>
            <li><h2>-Anything You Value!</li>
        </ul>
    </div>
</div>