<div class="column-md">
  <h2 class="title pb-4">Login/Sign Up</h2>
  <form class="login-form">
    <div>
      <label for="username-login">
        <h2>Username: </h2>
      </label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">
        <h2>Password: </h2>
      </label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="button is-primary">Login</button>
    </div>
  </form>
  <div class="column-md">
    <form class="signup-form">
      <div>
        <label for="username-signup"><h2>Username: </h2></label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup"><h3>Password: </h3></label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit" class="button is-primary">Sign-Up</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/login.js"></script>